<!-- <p>reactive works!</p> -->
<h1> This is reactive form changed</h1>

<h1> This is reactive form changed for new branch</h1>

<div class="card">
    <form [formGroup]="myform">
        <div class="form-group">
            <label>Uname </label>
            <input type="text" class="form-control" formControlName="Uname">
        </div>
        <div class="form-group">
            <label>Uname </label>
            <input type="text" class="form-control" formControlName="Uname">
        </div>
        <div class="form-group">
            <label>Uname </label>
            <input type="text" class="form-control" formControlName="Uname">

        </div>
    </form>


</div>